body {
    background: linear-gradient(#c5e4e4, #349797);
    font-family: 'Montserrat', sans-serif;
}

.name {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    text-align: center;
	margin-bottom: 30px;
}

.navbar-brand {
    color: black;
    margin-top: 40px;
}

.slogan {
    font-size: 18px;
    text-align: center;
}

.screen {
    padding-top: 100px;
    padding-bottom: 100px;
}

.container {
    font-size: 13px;
}

.instruction {
    margin-top: 30px;
}

.btn-info {
    background-color: #55FFF5;
    color: black;
    border-color: #55FFF5;
    border-radius: 38px;
}
    
.btn-info:hover,
.btn-info:focus,
.btn-info:visited {
    background-color: #358f89;
    color: black;
    border-color: #358f89;
    border-radius: 38px;
}

.form-control {
    margin-bottom: 20px;
    border-radius: 38px;
}

.screen-1 {
    margin-top: 50px;
}

.input {
    margin-top: 50px;
}

footer {
    margin-top: 80px;
    margin-bottom: 50px;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: black;
}



h2 {
    font-family: 'Lato', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.quote-number {
    text-align: right;
}

.description {
    text-align: left;
}

.form-control,
.btn {
    width: 200px;
}

.arrow-bottom-3 {
	margin: 20px 8px;
	width: 80px;
	height: 80px;
	cursor: pointer;
}

.arrow-bottom-3 path {
	fill: #337AB7;
	transition: fill 0.5s ease-out;
}

.arrow-bottom-3 {
	transform: rotate(90deg);
}

.arrow-bottom-3:hover path {
	fill: #000;
}

form input {
  display: block;
  margin-left: auto;
  margin-right: auto;
}